body
{
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
background-image: url("tacobackground.jpg");
background-repeat: repeat;
background-size: 300px 300px;
background-position: center;
background-attachment: fixed;
}

.container 
{
    position: relative;
    width: 50%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
  .image 
  {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 10px solid #fff
    box-shadow: opx 4px 8px #0000000;
  }
  
  .overlay 
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #259536e9;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay 
  {
    width: 100%;
    border-radius: 15px;
    border: 10px solid #fff;
  }
  
  .text 
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: nowrap; 
    color: white;
    font-size: 100px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 10px solid #fff;
  }
  h1
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150px;
    font-weight: bold;
    color: #000000;
    text-shadow: 4px 4px 4px #ffffff;
    text-transform: uppercase;
  }